.Navigation {
    margin-bottom: 0px;
    box-shadow: 0 15px 20px 0 rgba(0, 0, 0, 0.13);

}

.Brand {
    color: white;
    font-size: 15px;
    margin-top: -20px;

}

.Brand:hover {
    color: white !important;
    text-decoration: none;
}

.NavLink {
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    margin-right: 8px;
    padding: 6px;
    opacity: 0.95;
}

.NavLink:hover {
    color: white !important;
    text-decoration: none;
    border-bottom: 1px solid white;
}



.active {
    text-shadow: 1px 1px grey !important;
    color: white !important;
    border-bottom: 3px solid white;
    opacity: 1;
}